<md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
	<md-tab ng-repeat="tab in next.tableTabs track by $index" label="{{tab.v}}">
		<md-content ng-controller="tableCtrl" ng-init="init(tab.m, tab.v)">
			<div data-ng-include data-src="'angular/routes/tableDisplay.html'"></div>
<!-- 			<div id="tableModelName" style="visibility:hidden !important;">{{tab.m}}</div> -->
		</md-content>
	</md-tab>
</md-tabs>