<md-card layout="row" layout-align="center">
	<md-content layout="column" id="toastParent" flex="50">
		<form ng-show="showEditForm">
		<md-content>
			<md-input-container>
				<label>Naziv</label>
				<input type="text" ng-minlength="1" ng-model="company.naziv"/>
			</md-input-container>
		</md-content>
		<md-content>
			<md-input-container>
				<label>PIB</label>
				<input type="text" ng-minlength="1" ng-model="company.PIB"/>
			</md-input-container>
			<md-input-container>
				<label>Matični broj</label>
				<textarea type="text" ng-minlength="1" ng-model="company.maticniBroj"></textarea>
			</md-input-container>
		</md-content>
		<md-content>
			<md-input-container>
				<label>Ulica</label>
				<textarea type="text" ng-minlength="0" ng-model="company.ulica"></textarea>
			</md-input-container>
			<md-input-container>
				<label>Broj ulice</label>
				<textarea type="number" ng-minlength="0" ng-model="company.brojUlice"></textarea>
			</md-input-container>
				<md-input-container flex="30">
					<label>Mesto</label>
					<textarea type="number" ng-minlength="1" ng-model="company.mesto.id"></textarea>
				</md-input-container>		
				<md-input-container flex="60">
					<label>Naziv mesta</label>
					<input type="text" ng-model="company.mesto.naziv" style="display:inline !important;"/>
					<md-icon class="material-icons" ng-click="zoom()" style="display:inline !important;" flex="50">more_horiz</md-icon>
				</md-input-container>
		</md-content>
		<md-content>
			<md-input-container>
				<label>Broj telefona</label>
				<textarea type="text" ng-minlength="0" ng-model="company.brojTelefona"></textarea>
			</md-input-container>
			<md-input-container>
				<label>Email</label>
				<textarea type="text" ng-minlength="0" ng-model="company.email"></textarea>
			</md-input-container>
		</md-content>
		<md-content>
			<md-button type="button" ng-click="saveInfo()">Sačuvaj</md-button>
			<md-button type="button" ng-click="cancel()">Odustani</md-button>
		</md-content>
		</form>
		<md-content ng-show="!showEditForm" layout="column">
			<h1>{{company.naziv}}</h1>
				<p>PIB: {{company.PIB}}</p>
				<p>Matični broj: {{company.maticniBroj}}</p>
			<h3>Kontakt:</h3>
				<md-content layout="row">
					<md-content layout-margin><h4>Adresa:</h4></md-content>
					<md-content><p>{{company.ulica}} {{company.brojUlice}}, {{company.mesto.naziv}}</p></md-content>
				</md-content>
				<md-content layout="row">
					<md-content layout-margin><h4>Telefon:</h4></md-content>
					<md-content><p>{{company.brojTelefona}}</p></md-content>
				</md-content>
				<md-content layout="row">
					<md-content layout-margin><h4>Email:</h4></md-content>
					<md-content><p>{{company.email}}</p></md-content>
				</md-content>
				<md-content layout="row">
					<md-content layout-margin><h4>Web stranica:</h4></md-content>
					<md-content><p>{{company.web}}</p></md-content>
				</md-content>
		</md-content>
	</md-content>
	<md-content>
		<md-button type="button" ng-click="editInfo()" ng-show="showEditBtn">Izmeni podatke</md-button>
	</md-content>
</md-card>