<md-content layout="column" layout-align="center">
	
	<md-card ng-controller="tableCtrl">
		<md-content ng-repeat="card in cards">
		<md-card layout="column" data-ng-include data-src="card" id="toastParent">
		
			
		</md-card>
		</md-content>
	</md-card>
	<md-card ng-repeat="tab in next.tableTabs" ng-controller="nextCtrl as next">
		<md-content ng-controller="tableCtrl" ng-init="init(tab.m, tab.v)">
			<div data-ng-include data-src="'angular/routes/tableDisplay.html'"></div>
		</md-content>
	</md-card>
	
	
</md-content>