#{extends 'main.html' /}
#{set title:'Naseljena mesta' /}

<script>
	function sync(item) {
		sifra = item.find(".sifra").html();
		naziv = item.find(".naziv").html();
		ptt = item.find(".ptt").html();
		id = item.find(".id").html();
		drzNaziv = item.find(".drzNaziv").html();
		drzSifra = item.find(".drzSifra").html();
		$("#sifra").val(sifra);
		$("#naziv").val(naziv);
		$("#ptt").val(ptt);
		$("#id").val(id);
		$("#drzSifraZoom").val(drzSifra);
		$("#drzNazivZoom").val(drzNaziv);
		$.ajax({url:'/NaseljenaMesta/cacheSelected',
				data:JSON.parse(JSON.stringify({"id":id})),
				dataType:'json',
				type:'post',
				success: function(data) {
					sessionStorage.setItem('selectedNM', JSON.stringify(data));
				}
		});
	};
	$(document).ready(function() {
		$("tr").click(function() {
			if (!$(this).hasClass("header")) {
				$(this).closest("tr").siblings().removeClass("highlighted");
				$(this).toggleClass("highlighted");
				sync($(this));
				//$("#zoomSelect").prop("disabled", false);
			}
		});

		$("#first").click(function() {
			item = $("tr:nth-child(2)");
			item.closest("tr").siblings().removeClass("highlighted");
			item.toggleClass("highlighted");
			sync(item);
			//$("#zoomSelect").prop("disabled", false);
		});

		$("#next").click(function() {
			highlighted = $(".highlighted");
			index = $("tr").index(highlighted);
			var count = $("table tr").length - 1;
			if (count == 0 || index < 0)
				return;
			if (index == count)
				index = 2;
			else
				index += 2;
			//koristimo nth child, nije isto kao kada se radi sa indeksima, ovde se pocinje od 1
			item = $("tr:nth-child(" + index + ")");
			item.closest("tr").siblings().removeClass("highlighted");
			item.toggleClass("highlighted");
			sync(item);
			//$("#zoomSelect").prop("disabled", false);
		});

		$("#last").click(function() {
			item = $("tr:nth-child(" + $("table tr").length + ")");
			item.closest("tr").siblings().removeClass("highlighted");
			item.toggleClass("highlighted");
			sync(item);
		});

		$("#prev").click(function() {
			highlighted = $(".highlighted");
			index = $("tr").index(highlighted) + 1;
			var count = $("table tr").length - 1;
			if (count == 0 || index < 0)
				return;
			if (index == 2)
				index = $("table tr").length;
			else
				index -= 1;
			//koristimo nth child, nije isto kao kada se radi sa indeksima, ovde se pocinje od 1
			item = $("tr:nth-child(" + index + ")");
			item.closest(" tr").siblings().removeClass("highlighted");
			item.toggleClass("highlighted");
			sync(item);
		});

		$("#remove").click(function() {
			highlighted = $(".highlighted");
			drzavaId = highlighted.find(".id").html();
			$(location).attr('href', '/NaseljenaMesta/delete?id=' + drzavaId);
			//$("#zoomSelect").prop("disabled", true);
		});
		
		$("#refresh").click(function() {
			$(location).attr('href', '/NaseljenaMesta/refresh');
		});
		
		$("#zoomSelect").click(function() {
			drzNaziv = $("#drzNazivZoom").val();
			drzSifra = $("#drzSifraZoom").val();
			if(drzNaziv == undefined || drzNaziv == null){
				highlighted = $(".highlighted");
				if(highlighted == undefined || highlighted == null) {
					return;
				}
				drzNaziv = highlighted.find(".drzNaziv").html();
				if(drzNaziv == undefined || drzNaziv == null){
					return;
				}
			}
			if(drzSifra == undefined || drzSifra == null){
				highlighted = $(".highlighted");
				if(highlighted == undefined || highlighted == null) {
					return;
				}
				drzSifra = highlighted.find(".drzSifra").html();
				if(drzSifra == undefined || drzSifra == null){
					return;
				}
			}
			$(location).attr('href', '/NaseljenaMesta/zoom?drzNaziv=' + drzNaziv +'&drzSifra=' + drzSifra);
		});
		
		$("#add").click(function() {
			sessionStorage.removeItem("selectedNM");
			$(location).attr('href', "/NaseljenaMesta?mode=add")
		});
		
		selectedNM = JSON.parse(sessionStorage.getItem('selectedNM'));
		if(selectedNM != undefined && selectedNM != null && selectedNM != '') {
			$("#sifra").val(selectedNM.sifra);
			$("#naziv").val(selectedNM.naziv);
			$("#ptt").val(selectedNM.ptt);
			$("#id").val(selectedNM.id);
			sessionStorage.removeItem("selectedNM");
			selectedNM = null;
		};
	});
</script>

<center>
<p>
<ul>
	<li><a href="@{NaseljenaMesta.show("search")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
	<li><a href="@{NaseljenaMesta.refresh()}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
	<li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
	<li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
	<li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
	<li><a href="#" id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
	<li><a href="#" id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
	<li><a href="#" id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
	<!--#{if drzavaPickup != null}
		<li><a href="@{NaseljenaMesta.show("add", "pickup")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
	#{/if}
	#{elseif drz != null}
		<li><a href="@{NaseljenaMesta.show("add", "zoom")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
	#{/elseif}
	#{else}
		<li><a href="@{NaseljenaMesta.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
	#{/else}-->
	<li><a href="#" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>	
	<li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
	<li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<h1>Naseljena mesta</h1>

<table>
	<tr class="header">
		<th>Naziv</th><th>Šifra</th><th>PTT</th><th>Šifra države</th><th>Naziv države</th>
	</tr>
	#{if naseljenaMesta != null}
		#{list items:naseljenaMesta, as:'naseljenoMesto'}
			#{if nmSelected != null && nmSelected.id == naseljenoMesto.id}
				<tr class="highlighted">
			#{/if}
			#{else}
				<tr>
			#{/else}
					<td class="naziv">${naseljenoMesto.naziv}</td>
					<td class="sifra">${naseljenoMesto.sifra}</td>
					<td class="ptt">${naseljenoMesto.ptt}</td>
					<td class="drzSifra">${naseljenoMesto.drzava.sifra}</td>
					<td class="drzNaziv">${naseljenoMesto.drzava.naziv}</td>
					<td style = "visibility: hidden; max-width: 0px" class = "id">${naseljenoMesto.id}</td>
				</tr>
		#{/list}
	#{/if}
	#{else}
		#{list items:naseljenaMestaDrz, as:'naseljenoMesto'}
				<tr>
					<td class="naziv">${naseljenoMesto.naziv}</td>
					<td class="sifra">${naseljenoMesto.sifra}</td>
					<td class="ptt">${naseljenoMesto.ptt}</td>
					<td class="drzSifra">${naseljenoMesto.drzava.sifra}</td>
					<td class="drzNaziv">${naseljenoMesto.drzava.naziv}</td>
					<td style = "visibility: hidden; max-width: 0px" class = "id">${naseljenoMesto.id}</td>
				</tr>
		#{/list}
	#{/else}
</table>

<div class = "panel">
	<p>
		#{set 'action'}
			#{if mode == 'add'}
				@{NaseljenaMesta.create()}
			#{/if}
			#{elseif mode == 'edit'}
				@{NaseljenaMesta.edit()}
			#{/elseif}
			#{else}
				@{NaseljenaMesta.filter()}
			#{/else}
		#{/set}
		<form action=${action} method="post">
			#{field 'id'}
					<input type = "hidden" name = ${field.name} id = "id"/>
			#{/}
			#{field 'sifra'}
				<label for = "sifra">Šifra</label>
					<input type = "text" name = ${field.name} id = "sifra"/>
			#{/}
			<br/>
			<br/>
			#{field 'naziv'}
				<label for = "naziv">Naziv</label>
					<input type = "text" name = ${field.name} id = "naziv"/>
			#{/}
			<br/>
			<br/>
			#{field 'ptt'}
				<label for = "ptt">PTT</label>
				<input type = "text" name = ${field.name} id = "ptt"/>
			#{/}
			<br/>
			<br/>
			#{if drzavaPickup != null}
				#{field 'drzId'}
					<input type="hidden" name=${field.name} id="drzIdZoom" value="${drzavaPickup.id}"/>
				#{/field}
			#{/if}
			#{field 'drzSifra'}
				<label for="drzSifra">Šifra države</label>
				#{if drzavaPickup != null}
					<input type="text" name=${field.name} id="drzSifraZoom" value="${drzavaPickup.sifra}" style="width: 45px;"/>
				#{/if}
				#{elseif drzavaNext != null}
					<input type="hidden" name=${field.name} value="${drzavaNext.sifra}"/>
					<input type="text" name="disabledDrzSifra" id="drzSifraZoom" value="${drzavaNext.sifra}" style="width: 45px;" disabled/>
				#{/elseif}
				#{else}
					<input type="text" name=${field.name} id="drzSifraZoom" style="width: 45px;"/>
				#{/else}
			#{/}
			#{if drzavaNext != null}
				<input type="button" id="zoomSelect" value="..." disabled style="background-color:lightgray;"/>
			#{/if}
			#{else}
				<input type="button" id="zoomSelect" value="..."/>
			#{/else}	
			#{field 'drzNaziv'}
				#{if drzavaPickup != null}
					<input type="text" name=${field.name} id="drzNazivZoom" value="${drzavaPickup.naziv}"/>
				#{/if}
				#{elseif drzavaNext != null}
					<input type="hidden" name=${field.name} value="${drzavaNext.naziv}"/>
					<input type="text" name="disabledDrzNaziv" id="drzNazivZoom" value="${drzavaNext.naziv}" disabled/>
				#{/elseif}
				#{else}
					<input type="text" name=${field.name} id="drzNazivZoom"/>
				#{/else}
			#{/}
			<br/>
			<br/>
			<input type = "submit" value = "Potvrda" style="margin-left:3em"/>
		</form>
		<p>
			<a href = "@{NaseljenaMesta.show("edit")}">Rollback</a>			
			<br/>
			Trenutni režim: ${mode}
		</p>
	</p>
</div>
<a href = "@{Application.index()}">Povratak</a>
#{if nmSelected != null}
	SELECTED
#{/if}
</center>
