<html>
	<head>
		<title>Poslovni sistem</title>
		<meta charset="utf-8">
		
		<script src="javascripts/jquery-1.6.4.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="angular/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
		<script src="angular/angular-material-data-table/dist/md-data-table.min.js" type="text/javascript" ></script>
		
		<link href="stylesheets/sm-btn.css" rel="stylesheet" type="text/css"/>
		
		<script src="mainModule.js"></script>
		<script src="angular/directives/goClick.js"></script>
		<script src="angular/directives/tableHeaders.js"></script>
		
		<script src="angular/services/tableService.js"></script>
		<script src="angular/services/reportService.js"></script>
		<script src="angular/services/nextService.js"></script>
		<script src="angular/services/zoomService.js"></script>
		
		<script src="angular/controllers/nextCtrl.js"></script>
		<script src="angular/controllers/preduzeceCtrl.js"></script>
		<script src="angular/controllers/tableCtrl.js"></script>		
		<script src="angular/controllers/tableElemCtrl.js"></script>
		<script src="angular/controllers/toolbarCtrl.js"></script>
		<script src="angular/controllers/reportCtrl.js"></script>
	</head>
	
	<body ng-app="app">
		<md-toolbar layout="row" layout-align="center">
			<h1>SrsBsns</h1>
		</md-toolbar>
		<md-toolbar ng-controller="toolbarCtrl"> <!-- layout-align="space-around center" -->
			<div class="md-toolbar-tools">
				<md-button class="md-raised md-primary" go-click="/">
					Preduzeće
				</md-button>				
				<md-menu md-offset="0 40">
					<md-button class="md-raised md-primary" ng-click="openMenu($mdOpenMenu, $event)">
						Akteri
					</md-button>
					<md-menu-content>
						<md-menu-item ng-repeat="acter in tables.acters" ng-if="acter.v !== 'Preduzece'">
							<md-button class="md-primary" ng-click="tableClick(acter.m, acter.v, acter.s)">
								{{acter.v}}
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<md-menu md-offset="0 40">
					<md-button class="md-raised md-primary" ng-click="openMenu($mdOpenMenu, $event)">
						Dokumenti
					</md-button>
					<md-menu-content>
						<md-menu-item ng-repeat="doc in tables.docs">
							<md-button class="md-primary" ng-click="tableClick(doc.m, doc.v, doc.s)">
								{{doc.v}}
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<md-button class="md-raised md-primary" ng-click="testDb()">
					TEST DB JPA
				</md-button>
				<span flex=""></span> <!-- Da bi dugmad stojala sa leve strane -->
			</div>
		</md-toolbar>
		<div ng-view ng-cloak></div>
	</body>
</html>