#{extends 'main.html' /}
#{set title:'Države' /}

<script>
	function sync(item) {
		sifra = item.find(".sifra").html();
		naziv = item.find(".naziv").html();
		id = item.find(".id").html();
		$("#sifra").val(sifra);
		$("#naziv").val(naziv);
		$("#id").val(id);
	}
	$(document).ready(function() {
		$("tr").click(function() {
			if (!$(this).hasClass("header")) {
				$(this).closest("tr").siblings().removeClass("highlighted");
				$(this).toggleClass("highlighted");
				sync($(this));
			}
		});

		$("#first").click(function() {
			item = $("tr:nth-child(2)");
			item.closest("tr").siblings().removeClass("highlighted");
			item.toggleClass("highlighted");
			sync(item);
		});

		$("#next").click(function() {
			highlighted = $(".highlighted");
			index = $("tr").index(highlighted);
			var count = $("table tr").length - 1;
			if (count == 0 || index < 0)
				return;
			if (index == count)
				index = 2;
			else
				index += 2;
			//koristimo nth child, nije isto kao kada se radi sa indeksima, ovde se pocinje od 1
			item = $("tr:nth-child(" + index + ")");
			item.closest("tr").siblings().removeClass("highlighted");
			item.toggleClass("highlighted");
			sync(item);
		});

		$("#last").click(function() {
			item = $("tr:nth-child(" + $("table tr").length + ")");
			item.closest("tr").siblings().removeClass("highlighted");
			item.toggleClass("highlighted");
			sync(item);
		});

		$("#prev").click(function() {
			highlighted = $(".highlighted");
			index = $("tr").index(highlighted) + 1;
			var count = $("table tr").length - 1;
			if (count == 0 || index < 0)
				return;
			if (index == 2)
				index = $("table tr").length;
			else
				index -= 1;
			//koristimo nth child, nije isto kao kada se radi sa indeksima, ovde se pocinje od 1
			item = $("tr:nth-child(" + index + ")");
			item.closest("tr").siblings().removeClass("highlighted");
			item.toggleClass("highlighted");
			sync(item);
		});

		$("#remove").click(function() {
			highlighted = $(".highlighted");
			drzavaId = highlighted.find(".id").html();
			$(location).attr('href', '/Drzave/delete?id=' + drzavaId);
		});
		
		$("#nextform").click(function() {
			highlighted = $(".highlighted");
			if(highlighted == undefined || highlighted == null) {
				return;
			}
			drzId = highlighted.find(".id").html();
			if(drzId == undefined || drzId == null) {
				return;
			}
			$(location).attr('href', '/Drzave/nextForm?id=' + drzId);
		});
		
		$("#refresh").click(function() {
			$(location).attr('href', '/Drzave/refresh');
		});
		
		$("#pickup").click(function() {
			highlighted = $(".highlighted");
			if(highlighted == undefined || highlighted == null) {
				return;
			}
			drzId = highlighted.find(".id").html();
			if(drzId == undefined || drzId == null) {
				return;
			}
			$(location).attr('href', '/NaseljenaMesta/drzPickup?id=' + drzId);
		});
	});
</script>

<center>
<p>
<ul>
	<li><a href="@{Drzave.show("search")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
	<li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
	#{if drz != null}
		<li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
	#{/if}
	#{else}
		<li><a href="#"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
	#{/else}
	<li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
	<li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
	<li><a href="#" id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
	<li><a href="#" id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
	<li><a href="#" id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
	<li><a href="@{Drzave.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
	<li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
	<li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<h1>Dr&#382;ave</h1>

<table>
<tr class = "header">
   <th>Šifra</th> 
   <th>Naziv</th>
</tr>
#{list items:drzave, as:'drzava'}
	#{if drz != null && drz.id == drzava.id}
		<tr class="highlighted">
			<td class = "sifra">${drzava.sifra}</td>
			<td class = "naziv">${drzava.naziv}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "id">${drzava.id}</td>
		</tr>
	#{/if}
	#{else}
		<tr>
			<td class = "sifra">${drzava.sifra}</td>
			<td class = "naziv">${drzava.naziv}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "id">${drzava.id}</td>
		</tr>
	#{/else}
#{/list}
</table>

<div class = "panel">
<p>
#{set 'action'}
	#{if mode == 'add'}
		@{Drzave.create()}
	#{/if}
	#{elseif mode == 'edit'}
		@{Drzave.edit()}
	#{/elseif}
	#{else}
		@{Drzave.filter()}
	#{/else}
#{/set}
	<form action=${action} method="post">
		#{field 'id'}
			#{if drz != null}
				<input type = "hidden" name = ${field.name} id = "id" value="${drz.id}"/>
			#{/if}
			#{else}
				<input type = "hidden" name = ${field.name} id = "id"/>
			#{/else}
		#{/}
		#{field 'sifra'}
			<label for = "sifra">Šifra</label>
			#{if drz != null}
				<input type = "text" name = ${field.name} id = "sifra" value="${drz.sifra}"/>
			#{/if}
			#{else}
				<input type = "text" name = ${field.name} id = "sifra"/>
			#{/else}
		#{/}
		<br/>
		<br/>
		#{field 'naziv'}
			<label for = "naziv">Naziv</label>
			#{if drz != null}
				<input type = "text" name = ${field.name} id = "naziv" value="${drz.naziv}"/>
			#{/if}
			#{else}
				<input type = "text" name = ${field.name} id = "naziv"/>
			#{/else}
		#{/}
		<br/>
		<br/>
		<input type = "submit" value = "Potvrda" style="margin-left:3em"/>
	</form>
	<p>
		<a href = "@{Drzave.show()}">Rollback</a>
		<br/>
		Trenutni režim: ${mode}
	</p>
</p>
</div>

<a href = "@{Application.index()}">Povratak</a></center>
