<md-content ng-show="!zoomOrNext">
	<md-toolbar class="md-table-toolbar md-default">
	  <div class="md-toolbar-tools">
	    <span>{{tableData.title}}</span>
	    <md-button ng-click="tableFs.zoomReturn()" ng-if="lookup" class="md-raised md-warn" ng-disabled="selected.length !== 1">Peuzmi podatke</md-button>
	    <md-button ng-click="tableFs.nextReturn()" ng-if="next" class="md-raised md-warn">Povratak</md-button>
	    <md-button ng-click="tableFs.showStavke()" ng-if="showStavkaBtn" class="md-raised" ng-disabled="tableFs.disableDel()">Prikaz stavki</md-button>
	    <md-button ng-click="tableFs.dodaj()" ng-disabled="tableFs.disableAdd()">Dodavanje</md-button>
	    <md-button ng-click="tableFs.ukloni()" ng-disabled="tableFs.disableDel()">Brisanje</md-button>
	    <md-button ng-click="tableFs.izmeni()" ng-disabled="tableFs.disableEdit()">Izmene</md-button>
	    <md-button ng-click="tableFs.search()" ng-disabled="tableFs.disableSearch()">Pretraga</md-button>
	    <md-button ng-click="tableFs.next()" ng-disabled="tableFs.disableNext()" ng-if="nextTables.length > 0 && !next">Next</md-button>
	    <md-button ng-click="tableFs.faktura()" ng-disable="tableFs.disableFaktura()" ng-if="tableData.title=='Fakture'">Generiši PDF</md-button>
	  </div>
	</md-toolbar>
	<md-table-container id="toastParent">
		<table md-table md-row-select ng-model="selected" md-progress="promise">
			<thead md-head md-order="order" table-headers> <!--  md-on-reorder="getData()"  -->
			</thead>
			<tbody md-body>
<!-- 											md-on-deselect="tableFs.setSelected(row)" -->
				<tr md-row md-select="row" md-auto-select md-on-deselect="tableFs.setSelected(row)" md-select-id="name" ng-repeat="row in tableData.rows">
					<td md-cell ng-repeat="col in row">{{col.val}}</td>
					<td md-cell ng-repeat="col in row" ng-if="col.foreign">{{col.otherVal}}</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
<!-- 	<md-table-pagination md-limit="tableSettings.limit" md-limit-options="[5, 10, 15, 25]" md-page="tableSettings.page" md-total="{{tableData.rows.length}}" md-page-select></md-table-pagination> -->
</md-content>
