<form ng-submit="toastFormSubmit()">
<md-content layout="row" layout-align="center">
<md-content layout="column">

	<md-content ng-repeat="rowData in newRowData" layout="row" layout-align="center" layout-padding>
<!-- 	<ng-repeat ng-repeat="col in newRow track by $index" layout> -->
	<ng-repeat ng-repeat="col in rowData" ng-if="col.display">
		
		<md-input-container ng-if="col.type !== 'boolean' && !col.foreign">
			<label ng-if="!(col.name === 'id' && formMode === 'add')">{{col.name}}</label>
			<input type="text" ng-model="col.val" ng-if="col.type === 'string'"/>
			<input type="number" ng-model="col.val" ng-if="col.type === 'number' && col.name !== 'id'"/>
			<input disabled type="number" ng-model="col.val" ng-if="col.type === 'number' && col.name === 'id' && formMode !== 'add'"/>
		</md-input-container>
		
		<md-input-container ng-if="col.type !== 'boolean' && col.foreign" flex="30">
			<label>{{col.name}}</label>
			<input type="text" ng-model="col.val" ng-if="col.type === 'string'"/>
			<input type="number" ng-model="col.val" ng-if="col.type === 'number'"/>
		</md-input-container>		
		<md-input-container ng-if="col.type !== 'boolean' && col.foreign" flex="60">
			<label>{{col.name}} - {{col.otherValField}}</label>
			<input type="text" ng-model="col.otherVal" ng-if="col.otherValType === 'string'" style="display:inline !important;"/>
			<input type="number" ng-model="col.otherVal" ng-if="col.otherValType === 'number'" style="display:inline !important;"/>
			<md-icon class="material-icons" ng-click="tableFs.zoom(col.name, col.otherValField)" style="display:inline !important;" flex="50">more_horiz</md-icon>
		</md-input-container>
		
		<md-input-container ng-if="col.type === 'boolean'">
			<label>{{col.name}}</label>
			<md-select ng-model="col.val">
				<md-option ng-repeat="opt in boolVals" value="{{opt}}">{{opt}}</md-option>
			</md-select>
		</md-input-container>
		
	</ng-repeat>
	</md-content>
	
	<md-content layout="row" layout-align="center" >
	<md-content layout="column">
		<md-button class="md-raised" type="submit" ng-disabled="tableFs.disableSaveBtn()">Sačuvaj</md-button>
		<md-button ng-if="tableData.title === 'Narudžbenice'" class="md-raised md-primary" ng-click="createFaktura()">Kreiraj Fakturu</md-button>  
		<center><strong>Režim: {{formMode}}</strong></center>
	</md-content>
	</md-content>
</md-content>
</md-content>
</form>